extends ../layout.pug
block layout-content

  .container
    .centered-layout
      form(id="PresentationRequestForm" name="PresentationRequestForm" method="POST")
        .CenteredLayout#presentation
          h1.main-title Present your VCs

          .content-wrapper
            .left-section
              h2.section-title QR Code
              img(src=authorizationRequestQR id="qr-image")
              .qr-url-block
                p.qr-url(id="qrURLDisplay") #{authorizationRequestURL}

            .right-section
              h2.section-title Wallet Options
              .buttons-wrapper
                - const modifiedURL = authorizationRequestURL.replace("openid4vp://cb", wwwalletURL)
                button.Btn.Medium(type="button" onclick=`window.location.href = '${modifiedURL}';`) Open with wwWallet
                button.Btn.Medium(type="button" onclick=`window.location.href = '${authorizationRequestURL}';`) Open with Native Wallet

              label.wallet-label(for="customWalletURL") Test with other wallet:
              .custom-wallet-input-block
                input(type="text" id="customWalletURL" name="customWalletURL" placeholder="Enter custom wallet URL")
                button.Btn.Small(type="button" onclick="testWithCustomWallet()") Test

              .custom-wallet-display(id="customWalletURLDisplay" style="display: none;") 

          input(type='hidden' name='state' id='state' value=state)
          input(type='hidden' name='authorizationRequestQR' id='authorizationRequestQR' value=authorizationRequestQR)
          input(type='hidden' name='authorizationRequestURL' id='authorizationRequestURL' value=authorizationRequestURL)

  block footer
    include ../footer.pug

  link(rel="stylesheet" href="/styles/index.css")
  script(src="/js/index.js")
  script(src="/js/presentation-request.js")
  script.
    function testWithCustomWallet() {
      const customWalletURL = document.getElementById('customWalletURL').value;
      const originalURL = document.getElementById('authorizationRequestURL').value;

      // Check if custom URL is provided
      if (customWalletURL.trim() === "") {
        alert("Please enter a custom wallet URL.");
        return;
      }

      // Ensure `openid4vp://cb` exists in the original URL
      if (!originalURL.includes("openid4vp://cb")) {
        alert("The original URL is not in the expected format.");
        return;
      }

      // Replace `openid4vp://cb` with the user-provided URL
      const modifiedURL = originalURL.replace("openid4vp://cb", customWalletURL);

      // Display the modified URL under the input box
      const displayContainer = document.getElementById('customWalletURLDisplay');
      displayContainer.textContent = modifiedURL;
      displayContainer.style.display = 'block';

    }
  link(rel="stylesheet" href="/styles/scan-qr-verifier.css")
